/* -- Fixes -- */
.bg-inverse {
    color: #eceeef;
    background-color: #373a3c;
}
.navbar-brand {
    float: left!important;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar {
	display: inherit!important;
}
.navbar>.container-fluid {
	display: inherit!important;
}
.pull-xs-right {
    float: right!important;
}
html, body {
	font-family: "Helvetica Neue",Arial,sans-serif!important;
}
/* -- /Fixes -- */